In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Set up Splinter
browser = Browser('chrome')

In [3]:
# Visit the site
url = 'https://medicareguide.com/best-states-for-elderly-healthcare-340840'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.tablesorter-header-inner', wait_time=1)

True

In [4]:
# Scrape the website
html = browser.html

# Create a BeautifulSoup object from the scraped HTML
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Find the table
table = soup.find('table', class_='tablesorter tablesorter-default')

In [6]:
# Create an empty list
columns = []


#Get the columns names
column_names = table.find_all('strong')

for column_name in column_names:
    title = column_name.text
    columns.append(title)

print(columns)

['Overall Rank', 'State', 'Score', 'Cost', 'Quality', 'Access']

In [7]:
# Loop through the scraped data to create a list of rows
data = []

rows = soup.find_all('tr', {'role': 'row'})

for row in rows:
    items = []
    row_data = row.find_all('td')
    for result in row_data:
        items.append(result.text)
    data.append(items)

In [8]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
healthcare_df = pd.DataFrame(data, columns = columns)
healthcare_df

   Overall Rank                 State  Score   Cost Quality Access
0          None                  None   None   None    None   None
1             1             Minnesota  66.70  20.60   22.31  23.79
2             2          North Dakota  65.02  20.03   21.84  23.15
3             3         Massachusetts  62.17  15.62   27.25  19.30
4             4            California  61.72  21.42   23.61  16.68
5             5              Nebraska  61.55  17.33   22.31  21.91
6             6                Hawaii  60.85  17.50   26.60  16.75
7             7               Montana  60.61  19.46   22.21  18.94
8             8              Colorado  60.53  19.87   23.89  16.77
9             9                  Iowa  60.41  20.52   18.85  21.04
10           10           Connecticut  60.02   9.98   28.00  22.04
11           11         New Hampshire  58.94  16.35   22.77  19.82
12           12                 Maine  58.70  14.88   17.27  26.55
13           13            New Jersey  57.83  16.03   27.16  14.65
14           14                  Utah  57.38  25.10   21.75  10.54
15           15               Arizona  57.34  20.28   22.12  14.94
16           16          Rhode Island  56.97  19.21   18.11  19.64
17           17                 Idaho  56.46  17.66   20.44  18.35
18           18            New Mexico  56.02  20.11   17.55  18.35
19           19               Vermont  55.23  10.96   19.60  24.68
20           20                Kansas  54.84  21.01   16.43  17.40
21           21             Wisconsin  54.29  18.07   17.64  18.58
22           22          Pennsylvania  53.93  17.66   16.52  19.75
23           23               Florida  53.89  16.19   22.03  15.67
24           24          South Dakota  53.54  17.09   17.08  19.37
25           25            Washington  52.20  19.54   18.29  14.36
26           26                Oregon  51.63  16.60   17.55  17.49
27           27              New York  51.35  11.04   26.60  13.72
28           28                Alaska  51.13  12.51   23.80  14.82
29           29               Wyoming  50.74  15.13   19.51  16.11
30           30              Illinois  50.72  17.99   18.01  14.72
31           31              Michigan  49.71  18.07   11.76  19.88
32           32              Virginia  48.17  17.58   18.76  11.83
33           33              Missouri  48.12  19.38   10.83  17.91
34           34                  Ohio  47.96  20.03   10.73  17.19
35           35                 Texas  45.94  18.23   14.93  12.77
36           36              Arkansas  44.48  20.20    8.40  15.89
37           37                Nevada  44.30  19.71   14.65   9.94
38           38               Indiana  44.19  18.48   12.23  13.49
39           39              Maryland  43.65  11.04   18.11  14.51
40           40              Kentucky  42.75  17.33    9.24  16.18
41           41              Delaware  42.50   8.91   17.55  16.04
42           42        South Carolina  41.13  21.42    9.33  10.38
43           43             Tennessee  39.70  15.94    7.28  16.48
44           44               Alabama  39.30  14.72    7.19  17.39
45           45        North Carolina  39.20  15.94   11.95  11.31
46           46         West Virginia  38.81   9.65    6.53  22.63
47           47             Louisiana  38.75  16.68    7.84  14.23
48           48           Mississippi  38.09  18.40    4.39  15.31
49           49  District of Columbia  38.04   8.50   10.83  18.71
50           50               Georgia  35.36  14.80   10.55  10.01
51           51              Oklahoma  34.74  16.52    5.88  12.34

In [9]:
# Delete the first row (index 0)
healthcare_df = healthcare_df.drop(0, axis=0)
healthcare_df.head()

  Overall Rank          State  Score   Cost Quality Access
1            1      Minnesota  66.70  20.60   22.31  23.79
2            2   North Dakota  65.02  20.03   21.84  23.15
3            3  Massachusetts  62.17  15.62   27.25  19.30
4            4     California  61.72  21.42   23.61  16.68
5            5       Nebraska  61.55  17.33   22.31  21.91

In [10]:
# Export to csv file
healthcare_df.to_csv('healthcare_rank_for_elderly.csv', index=False, sep=',', encoding='utf-8', header=True)

In [13]:
browser.quit()

In [15]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [16]:
# Set up Splinter
browser = Browser('chrome')

In [22]:
# Visit the site
url = 'https://www.investopedia.com/which-states-don-t-tax-social-security-5211649'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('span.content dw-bold', wait_time=1)

False

In [23]:
# Scrape the website
html = browser.html

# Create a BeautifulSoup object from the scraped HTML
soup = BeautifulSoup(html, 'html.parser')

In [24]:
# Find the table
table = soup.find('table', class_='medium datawrapper-dXL1f-1k2zto9 svelte-jgpaxw striped compact resortable desktop-only')

In [25]:
# Create an empty list
columns = []


#Get the columns names
column_names = table.find_all('span')

for column_name in column_names:
    title = column_name.text
    columns.append(title)

print(columns)

AttributeError: 'NoneType' object has no attribute 'find_all'